<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionName="1.0.4" package="com.kivgroupua.munchkincounterlan" android:installLocation="auto" android:versionCode="8">
	<uses-sdk android:minSdkVersion="23" android:targetSdkVersion="28" />
	<application android:label="MunchkinCounterLan.Android"></application>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />
</manifest>